<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Here can be your advertising!</h5>
          <p class="grey-text text-lighten-4">Don`t judge strictly. Its my first try to create something like this. Have fun.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Our sponsors =)</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.epam.com/">EPAM</a></li>
            <li><a class="grey-text text-lighten-3" href="http://google.com/">Google</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.wikipedia.org/">Wikipedia</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.google.com/maps">Google Maps</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Created by Artur Dovbysh!
      </div>
    </div>
  </footer>